.EventsAllWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Scroller {
  width: 25%;
  transition-duration: 1s;
  overflow: hidden;
}

.allEvents {
  width: 70%;
  align-self: flex-end;
  margin: auto;
}

.event-name {
  padding-left: 7vw;
}
.whole-eventscontainer {
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  width: 90%;
  background-image: linear-gradient(116.24deg, #076089 28.12%, #222150 93.23%);
  border-radius: 25px 0px;
  color: aliceblue;
  padding: 2rem;
  justify-content: space-around;
}
.eventHeadingNew {
  width: 60%;
}
.eventHeadingNew h4 {
  font-weight: 650;
  font-size: 1.4vw;
  width: 5.5vw;
  height: 1.7vh;
}
.vertical-line {
  border: 1px;
  margin-left: 1vw;

  width: 0.6px;
  margin-top: 8vh;
  height: 50vh;
}
.rightImg {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rightImg h1 {
  color: #278ac1;
  text-align: center;
}
.rightImg img {
  padding: 0.5rem;
}
.icons {
  background-color: aqua;
  height: 1vh;
  width: 2vw;
}

.vertical-line {
  display: none;
}
.submitButton {
  font-weight: 500;
  font-size: 1.2rem;
  color: white;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  align-self: auto;
}
.caseStudyButtons {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 760px) {
  .Scroller {
    display: none;
    width: 0%;
  }
  .allEvents {
    width: 100%;
  }
  .eventHeadingNew {
    width: 90%;
    margin: auto;
  }
  .whole-eventscontainer {
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    padding: 0;
    margin: 2rem auto;
  }
  .Resarch-img {
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .Resarch-img h1 {
    margin: 0;
    margin-top: 3vh;
    text-align: center;
  }
  .img {
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .img img {
    margin: 0;
    margin-top: 2vh;
  }
  .img h1 {
    margin: 0;
    margin-top: 3vh;
  }
  .GuestLlecture-img {
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .GuestLlecture-img h1 {
    margin: 0;
    margin-top: 3vh;
  }
  .GuestLlecture-img img {
    margin: 0;
  }
  .img h1 {
    text-align: center;
  }
  .Resarch-heading {
    width: 90%;
    padding: 3vw;
  }
  .Resarch-heading h4 {
    font-size: 4vw;
  }
  .event-namecontainer {
    display: none;
  }
  .heading h4 {
    font-size: 4vw;
  }
  .Design-img {
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .Design-img h1 {
    margin: 0;
    margin-top: 3vh;
  }
  .submitButton{
    width: 100%;
    margin: auto;
    padding: 1rem;
  }
  .caseStudyButtons{
    flex-direction: column;
  }
}
