.events {
  width: 193px;
  height: 54px;
  margin-left: 42vw;
  margin-top: 2vh;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 55px;
  text-align: center;
  color: aliceblue;
}
.event-down {
  margin-top: 2vh;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: aliceblue;
}
.event-namecontainer {
  font-family: "Helvetica";
  font-style: normal;
  display: flex;
  margin-top: 5vh;
}
.event-name {
  padding-left: 7vw;
}
.caseStudy {
  display: flex;
  flex-direction: row;
  width: 978px;
  height: 490px;
  margin-left: 31vw;
  background-image: linear-gradient(116.24deg, #076089 28.12%, #222150 93.23%);
  border-radius: 25px 0px;
  margin-top: 3vh;
  color: aliceblue;
}
.heading {
  padding: 2vw;
  height: 318px;
  width: 475px;
}
.vertical-line {
  border: 1px;
  background-image: linear-gradient(
    rgba(245, 245, 245, 0),
    rgba(245, 245, 245, 0.5073),
    rgba(245, 245, 245, 0)
  );
  width: 1.2px;
  margin-top: 12vh;
  height: 340px;
}
.img h1 {
  color: rgba(26, 26, 26, 1);
  margin: 3vw;
  margin-left: 7vw;
}
.img img {
  margin-left: 5vw;
}
