.fixedScrollWrapper {
  top: 30vh;
  left: 0;
  width: 20%;
  height: 40%;
  position: fixed;
  /* background-color: white; */
}

.scrollWrapper {
  position: relative;
}
.backCircle {
  width: 100%;
}

.eventType {
  position: absolute;
  top: 45%;
  left: 30%;
  color: white;
  transition-duration: 0s;
}
.blueCircle1 {
  position: absolute;
  left: 90%;
  top: 50%;
  width: 20%;
}

.blueCircle2 {
  position: absolute;
  left: 30%;
  top: -2.5%;
  width: 15%;
}

.blueCircle3 {
  position: absolute;
  left: 30%;
  top: 95%;
  width: 15%;
}

@media (max-width: 760px) {
  .fixedScrollWrapper {
    display: none;
  }
  .scrollWrapper {
    display: none;
  }
  .backCircle {
    display: none;
  }
}
