.about-wrapper {
  background-color: black;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  width: 100%;
  margin-top: 2%;
  /* margin: auto; */
  overflow: hidden;
}

.about-main-container {
  width: 100%;
  position: relative;
  display: flex;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
  margin: 2rem;
  justify-content: space-between;
  padding: 2rem;
  /* overflow: hidden; */
}

.rightSide {
  align-self: flex-end;
}

.aboutBackground {
  position: absolute;
  background-image: linear-gradient(116.24deg, #076089 28.12%, #222150 93.23%);
  /* width: 60%; */
  height: 100%;
  width: 100%;
}
.fillLeft {
  transform-origin: 0%;
  opacity: 1;
}

.fillRight {
  left: 0;
  transform-origin: 100%;
}

.about-context {
  width: 55%;
  z-index: 2;
}
.about-image {
  width: 45%;
  display: flex;
  align-items: center;
  z-index: 2;
}
.about-png {
  width: 70%;
}
.about-heading {
  color: #278ac1;
  font-size: 3vw;
  font-family: Helvetica;
  width: 100%;
}
.about-information {
  color: white;
  font-size: 1.8vw;
  font-family: Helvetica;
  font-weight: 400;
}

@media (max-width: 760px) {
  .about-main-container {
    flex-direction: column-reverse;
    align-items: center;
    margin: 2rem auto;
  }
  .about-context {
    width: 90%;
    margin: auto;
    padding: 0;
  }
  .about-image {
    width: 50%;
  }
}
