.Card {
  border-radius: 1.25rem;
  /* text-decoration; */
  /* text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000; */

  background-color: #d9d9d997;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 1rem;
  transition: transform 0.3s ease;
  margin-bottom: 200vh;
}

.Card:hover {
  transform: translateY(-5px); /* Hover effect for card */
}

.cardImages {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: 1.5rem;
}

.Dp {
  z-index: 2;
  width: 100px; /* Set a fixed size for the image */
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.Name {
  color: #EFBF04;
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "Helvetica";
  margin-bottom: 0.5rem;
}

.Position {
  color: #EFBF04;
  text-align: center;
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 4vh;
  font-family: "Helvetica";
}

@media (max-width: 720px) {
  .Card {
    width: 90%; /* Adjust the width for smaller screens */
    border-radius: 0.625rem;
  }

  .Name {
    font-size: 1rem; /* Adjust font size for smaller screens */
    margin-top: 0.5vh;
  }

  .Position {
    font-size: 0.9rem; /* Adjust font size for smaller screens */
    margin-bottom: 2vh;
  }

  .Dp {
    width: 80px; /* Adjust image size for smaller screens */
    height: 80px;
    padding-top: 1vh;
  }

  .cardImages {
    padding-left: 0.08vw;
  }
}
