.teamContainer {
  background-color: black;
  margin: 4rem 0 4rem 0;
  width: 100%;
}
.teamHeader {
  padding-left: 10vw;
}
.blueLine {
  background: linear-gradient(116.24deg, #076089 28.12%, #222150 93.23%);

  width: 80vw;
  height: 18vh;
  z-index: 5;
}
.HeaderInfo {
  color: white;
  font-weight: 700;
  font-size: 6rem;
  transform: translateY(-50%);
  z-index: 8;
}

/* new middle div */
.MiddleDiv {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 15.51vh;
  column-gap: 5%;
  justify-items: center;
  align-items: center;
}
@media (max-width: 720px) {
  .MiddleDiv {
    column-gap: 20px;
    row-gap: 7vh;
    grid-template-columns: repeat(3, 1fr);
  }
}
