.teamContainer {
  background-color: #210a1e;
  margin: 4rem 0 4rem 0;
  width: 100%;
}

.teamHeader {
  padding-left: 10vw;
}

.blueLine {
  background: linear-gradient(180deg, #efbf04 0%, rgba(44, 76, 157, 0) 92.74%);

  width: 80vw;
  height: 18vh;
  z-index: 5;
}

.HeaderInfo {
  color: #e5d536;
  font-weight: 700;
  font-size: 6rem;
  transform: translateY(-50%);
  z-index: 8;
}

/* new middle div */
.MiddleDiv {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 15.51vh;
}

.teamRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

@media (max-width: 720px) {
  .MiddleDiv {
    row-gap: 7vh;
  }

  .teamRow {
    flex-wrap: wrap;
    gap: 20px;
  }
}
