.teamContainer {
  background-color: #210A1E;
  margin: 4rem 0 4rem 0;
  width: 100%;
}

.teamHeader {
  padding-left: 10vw;
}

.blueLine {
  background: linear-gradient(180deg, #EFBF04 0%, rgba(44, 76, 157, 0) 92.74%);

  width: 80vw;
  height: 18vh;
  z-index: 5;
}


.HeaderInfo {
  color: #E5D536;
  font-weight: 700;
  font-size: 6rem;
  transform: translateY(-50%);
  z-index: 8;
}

/* new middle div */
.MiddleDiv {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 15.51vh;
  column-gap: 5%;
  justify-items: center;
  align-items: center;
}

@media (max-width: 720px) {
  .MiddleDiv {
    column-gap: 20px;
    row-gap: 7vh;
    grid-template-columns: repeat(3, 1fr);
  }
}