.inputStyle {
  color: white;
  font-size: 1.2rem;
  /* font-weight: 700; */
}
.main-container {
  width: 80%;
  display: flex;
  background-color: black;
  padding: 2rem;
  margin: auto;
}
.main {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
}
.mapImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
#map {
  width: 60%;
  /* margin-left: 25%; */
  /* margin-top: 1%; */
}
.input1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.input2 {
  width: 100%;
}
.input {
  width: 40%;
}
textarea {
  resize: none;
}
#msg {
  text-align: center;
  background-color: black;
  border-color: #278ac1;
  color: white;
  border-radius: 0.2rem;
  border-width: 5px;
  font-size: 0.8rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  font-style: "normal";
  /* font-size: 60%; */
  /* font-weight: 700; */
  /* border-radius: 3.46455px; */
}
.message-input {
  height: 15vh;
  width: 40%;
  color: white;

  background-color: #292f3f;
  border-radius: 0.37rem;
  box-shadow: 0px 3.19081px 3.19081px rgba(0, 0, 0, 0);
}
.name-input {
  height: 5vh;
  width: 100%;
  color: white;
  background-color: #292f3f;
  border-radius: 0.37rem;
  box-shadow: 0px 3.19081px 3.19081px rgba(106, 36, 36, 0);
}
.email-input {
  height: 5vh;
  width: 100%;
  color: white;

  background-color: #292f3f;
  border-radius: 0.37rem;
  box-shadow: 0px 3.19081px 3.19081px rgba(0, 0, 0, 0);
}
.email-input:focus {
  background-color: #016194;
}
.name-input:focus {
  background-color: #016194;
}
.message-input:focus {
  background-color: #016194;
}
