.inputStyle {
  color: white;
  font-size: 1.2rem;
  width: 100%;
  /* font-weight: 700; */
}

.main-container {
  width: 80%;
  display: flex;
  /*gap: 2rem;*/
  background-color: black;
  padding: 2rem;
  margin: auto;
}

.main {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
}

.mapImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

#map {
  width: 70%;
  /* margin-left: 25%; */
  /* margin-top: 1%; */
}

.input1 {
  gap: 5rem;
  font-family: "Inter";
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.input2 {
  font-family: "Inter";
  width: 100%;
  padding: 1rem;
}

.input {

  width: 80%;
}

#msg {
  text-align: center;
  background-color: black;
  border: 5px solid #2C4C9D;
  color: white;
  border-radius: 0.2rem;

  font-family: "Inter";
  font-size: 0.8rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin: 1rem;
}

#msg a {
  color: white;
  text-decoration: none;
}

.message-input {
  height: 15vh;
  width: 100%;
  color: white;
  font-size: 1rem;
  font-family: "Inter";
  font-size: 1rem;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: flex-start;*/
  background-color: #292f3f;
  border-radius: 0.37rem;
  border-style: none;

}

.name-input {
  height: 5vh;
  width: 100%;
  color: white;
  font-family: "Inter";
  font-size: 1rem;
  background-color: #292f3f;
  border-radius: 0.37rem;
  border-style: none;
}

.email-input {
  height: 5vh;
  width: 100%;
  color: white;
  font-family: "Inter";
  font-size: 1rem;
  background-color: #292f3f;
  border-radius: 0.37rem;
  border-style: none;
}

@media (max-width: 800px) {
  .input1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    /*align-items: center;*/

  }

  .name-input {
    width: 200px;
  }

  .email-input {
    width: 200px;
  }

  .message-input {
    width: 200px;
  }

  #map {
    display: none;
  }
}