.footerWrapper{
    padding: 0 8vh 0vh 8vh;
    font-family: 'Montserrat';
    color: white;
    margin-top: -1vw;
    background-color: #210A1E;
}
/* Link{
    text-decoration: none;
} */
a{
    /* color: white; */
    text-decoration: none;
}
.footerHead{
    font-size: 3rem;
    color: white;
    font-weight: 600    ;
}

.footerWrapper span{
    color: #EFBF04;
}

.footerContent{
    display: flex;
    flex-direction: row;
}

.infoFooter{
    color: white;
    width: 70%;
    margin-right: 5vw;
}

.linksFooter{
    display: flex;
    flex-direction: row;
    margin-top: -0.5vw;
    line-height: 2vw;
    text-decoration: underline;
}

.linksFooter a{
    color: white;
    margin-bottom: 2vw;
}

.links1{

    padding-right: 2vw;
}

.socialLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10vw;
    margin-top: -1vw;
}

/* .socialLinks>span{
    color: white;
    margin-right: 2vw;
} */

.socialLinks p{
    font-weight: 700;
    font-size: 1.3vw;
}