.aboutWrapper {
  height: 100vh;
  width: 100%;
  background-color: white;
  margin-bottom: 1.2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  overflow: hidden;
}

.bgBuildings {
  width: 100%;
  display: flex;
}
.imgBgBuildings {
  width: 100%;
}

.aboutMaterial {
  position: absolute;
  display: flex;
  top: 20%;
  z-index: 5;
}
.aboutLogo {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  /* height:100%; */
}
.aboutInfo {
  display: flex;
  width: 60%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.aboutLogoImg {
  width: 50%;
}
.info {
  font-size: 1rem;
}

@media (max-width: 760px) {
  .aboutWrapper {
    height: 80vh;
  }
  .aboutMaterial {
    top: 0%;
    padding: 0.5rem;
  }
}
