.bigcontainer {
  position: relative;
  margin-bottom: 1rem;
  height: 80vh;
  min-width: 100%;
  overflow: hidden;
}

.eventHeading {
  font-size: 3rem;
  color: #1f789f;
  padding: 5rem;
}

.eventHomeContainer {
  /* background-color: #437084; */
  /* background-color: rgba(37, 34, 34, 0.105); */
  background-color: black;
  display: flex;
  min-width: 150vw;
  justify-content: space-between;
  overflow-y: hidden;
}

.eventImages {
  opacity: 0.7;
  /* width: 100%; */
  transition-duration: 1s;
  width: 150%;
}

.eventImages:hover {
  width: 100%;
  opacity: 1;
}

.sec {
  position: relative;
  flex: 1;
  transition-duration: 1s;
  align-items: flex-start;
  overflow: hidden;
}
.sec:hover {
  flex: 1.5;
}

.bigcontainer:hover ~ .event1 {
  left: 80%;
}

.prevButton {
  position: absolute;
  z-index: 5;
  top: 40%;
  width: 5%;
  height: 20%;
  background-color: transparent;
  border-style: none;
  background: url(../../assets/prevbtn.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.nextButton {
  position: absolute;
  z-index: 5;
  top: 40%;
  width: 5%;
  height: 20%;
  background-color: transparent;
  border-style: none;
  background: url(../../assets/nextbtn.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.eventName {
  width: 80%;
  height: 10%;
  font-size: 2rem;
  font-family: Inter;
  color: white;
  position: absolute;
  top: 40%;
  left: 52%;
  transform: rotate(270deg);
}

@media (max-width: 760px) {
  .eventName {
    font-size: 1rem;
  }
  .bigcontainer {
    overflow-x: scroll;
  }
  .eventHomeContainer {
    background-color: black;
  }
  .prevButton {
    display: none;
  }
  .nextButton {
    display: none;
  }
}
