
.eventWrapper{
  background-image: url("../../assets/BG2.png");
  background-size: cover;
    background-repeat: no-repeat;
}

.bigcontainer {
  position: relative;
  /* margin-bottom: 1rem; */
  padding-bottom: 2rem;
  height: 90vh;
  min-width: 100%;
  overflow: hidden;
  
  

}

.eventHeading {
  font-size: 3rem;
  color: #1f789f;
  padding: 5rem;
}

.eventHomeContainer {
  /* background-color: #437084; */
  /* background-color: rgba(37, 34, 34, 0.105); */
  background-color: black;
  display: flex;
  min-width: 150vw;
  height: 75vh;
  justify-content: space-between;
  overflow-y: hidden;
}

.eventImages {
  opacity: 0.7;
  /* width: 100%; */
  transition-duration: 1s;
  width: 150%;

}
.eventImages{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.eventImages:hover {
  width: 100%;
  opacity: 1;
}

.bullet{
  color: #EFBF04;
}

.sec {
  position: relative;
  flex: 1;
  transition-duration: 1s;
  align-items: flex-start;
  overflow: hidden;
}
.sec:hover {
  flex: 1.5;
}

.bigcontainer:hover ~ .event1 {
  left: 80%;
}

.prevButton {
  position: absolute;
  z-index: 5;
  top: 40%;
  width: 5%;
  height: 20%;
  background-color: transparent;
  border-style: none;
  background: url(../../assets/prevbtn.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.nextButton {
  position: absolute;
  z-index: 5;
  top: 40%;
  width: 5%;
  right: 10%;
  height: 20%;
  background-color: transparent;
  border-style: none;
  background: url(../../assets/nextbtn.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.eventName {
  width: 125%;
  height: 8%;
  font-size: 2rem;
  font-family: Inter;
  color: white;
  position: absolute;
  top: 30%;
  left: 25%;
  transform: rotate(270deg);
}

@media (max-width: 760px) {
  .eventName {
    font-size: 1rem;
  }
  .bigcontainer {
    overflow-x: scroll;
    height: auto;
  }
  .eventHomeContainer {
    background-color: black;
  }
  .eventName {
    font-size: 1rem;
    width: 150%;
    top: 40%;
    left: 10%;
  }
  .prevButton {
    display: none;
  }
  .nextButton {
    display: none;
  }
}
