.WrapperLanding {
  width: 100%;
  background-color: black;
  background-image: url("../../assets/BgHome1.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height:100vh; */
}

.landingBg {
  /* height:100vh; */
  overflow-y: hidden;
}

.landingImg {
  width: 100%;
  opacity: 0.3;
}

.landingInfo {
  background-color: none;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  padding: 0.5rem;
  top: 15%;
}
.teamInfo {
  display: flex;
  flex-direction: column;
}
.teamName {
  font-size: 2rem;
  font-weight: bold;
}
.teamPresents {
  font-size: 1rem;
  margin: auto;
}
.teamYear {
  color: #E5D536;
}
.ThemeHeading {
  padding: 0.5rem;
}
.ThemeName {
  position: relative;
  margin: auto;
  align-items: center;
  color: white;
  font-size: 6rem;
  width: 100%;
  text-align: center;
}

.colorblue {
  color: #E5D536;
  font-size: 9rem;
  line-height: 0.8;
  letter-spacing: 20%;
}

.ThemeInfo {
  margin-top: 4rem;
  line-height: 1.8;
  text-align: center;
  position: relative;
  padding-bottom: 1.5rem;
}

.btnRegister {
  margin-top: 1.5rem;
  background-color: #122B5B;
  /*border: 1px solid white;*/
  border-style: none;
  font-size: 1.5rem;
  color: white;
  padding: 0.5rem 3rem 0.5rem 3rem;
  border-radius: 1rem;
  cursor: pointer;

}
.Date {
  font-size: 1.5rem;
  color: white;
  padding: 0.5rem;
}

@media (max-width: 760px) {
  .landingBg {
    height: 50vh;
    overflow-y: hidden;
  }
  .landingInfo {
    top: 5%;
  }
  .teamName {
    font-size: 1rem;
    padding: 0.3rem;
  }
  .ThemeName {
    font-size: 2rem;
  }
  .ThemeHeading {
    padding: 1rem;
  }
  .ThemeInfo {
    margin-top: 0px !important;
    font-size: 3vw;
    width: 80%;
    text-align: center;

  }
  .colorblue {
    font-size: 3rem;
  }
  .btnRegister {
    margin-top: 10px!important;
    font-size: 1.2rem;
  }
}
